/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
##Sass Mixins
--------------------------------------------------------------*/

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/


/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */


/* Document
	 ========================================================================== */


/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}


/* Sections
	 ========================================================================== */


/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
}


/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1,
.h1 {
	font-size: 36px;
	margin: 0.67em 0;
}

h2,
.h2 {
	font-size: 30px;
}

h3,
.h3 {
	font-size: 26px;
}

h4,
.h4 {
	font-size: 22px;
}

h5,
.h5 {
	font-size: 18px;
}

h6,
.h6 {
	font-size: 16px;
}


/* Grouping content
	 ========================================================================== */


/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}


/* Text-level semantics
	 ========================================================================== */


/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}


/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}


/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}


/* Embedded content
	 ========================================================================== */


/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}


/* Forms
	 ========================================================================== */


/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
}


/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

[type="button"],
[type="reset"],
[type="submit"],
button {
	-webkit-appearance: button;
}


/**
 * Remove the inner border and padding in Firefox.
 */

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}


/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}


/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}


/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}


/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}


/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}


/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}


/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}


/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}


/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}


/* Interactive
	 ========================================================================== */


/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}


/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}


/* Misc
	 ========================================================================== */


/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}


/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body,
button,
input,
optgroup,
select,
textarea {
	color: #000000;
	font-family: "Rubik", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 15px;
}

cite,
dfn,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 1.5em;
	border-left-color: #000000;
}

address {
	margin: 0 0 15px;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background: #f3f4f5;
	border-radius: 2px;
	color: #23282d;
	font-family: Menlo, Consolas, monaco, monospace;
	font-size: 14px;
	padding: 2px;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

ins {
	text-decoration: underline;
}

mark {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ol,
ul {
	margin: 0 0 1.5em 15px;
	padding-left: 30px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li>ol,
li>ul {
	margin-bottom: 0;
	margin-left: 15px;
	padding-left: 15px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #000;
	background: #000;
	display: inline-block;
	width: auto;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 4px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 11.5px 15px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #000;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #000;
}

.btn-primary {
	background: #000;
	color: #fff !important;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	z-index: 0;
	overflow: hidden;
	padding: 10px 15px;
	border-color: #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
	padding: 10px;
}

textarea {
	width: 100%;
	padding: 10px;
}

label {
	font-weight: 300;
}

input[type="search"] {
	width: 100%;
}

.woocommerce-Reviews label {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	margin-top: 15px;
}

#page {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.site-header {
	background: #fff;
	border-bottom: 1px solid #e6e6e6;
}

.site-header .header--default {
	position: relative;
	padding: 15px 0;
	margin: 0;
}

.site-header .header--default .header-inner {
	width: 100%;
}

@media screen and (max-width: 991px) {
	.site-header .header--default .header-inner .site-branding {
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.site-header .header--default .header-inner .site-branding {
		position: relative;
		margin: 0 auto -45px;
		top: -9px;
		text-align: center;
		max-width: 250px;
		z-index: 101;
	}
}

.site-header .header--default .header-inner .site-branding .site-title {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	line-height: 1;
}

.site-header .header--default .header-inner .site-branding .no-tagline {
	font-size: 30px;
	line-height: 1.5;
}

.site-header .header--default .header-inner .site-branding .site-description {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 12px;
}

.site-header .header--default .header-inner .site-branding a {
	text-decoration: none;
	color: #000000;
}

.site-header .header-navigation {
	display: table;
	width: 100%;
}

.site-header .header-navigation .main-navigation {
	display: table-cell;
	width: 75%;
	vertical-align: middle;
}

.site-header .header-navigation .header-cart {
	display: table-cell;
	width: 25%;
	vertical-align: middle;
}

.site-header .header-cart {
	font-size: 14px;
	color: #000;
}

.site-header .header-cart a {
	color: #000;
	text-transform: uppercase;
	font-weight: 500;
}

.site-header .header-cart .cart-icon {
	width: 24px;
	height: 24px;
}

.site-header .header-cart .count {
	position: absolute;
	top: -7.5px;
	left: 15px;
	background: #222;
	color: #fff;
	font-size: 60%;
	line-height: 18px;
	border-radius: 5px;
	width: 17px;
	height: 17px;
	text-align: center;
}

.site-header .header-cart .amount {
	line-height: 1;
	position: relative;
	margin-left: 7.5px;
}

@media screen and (max-width: 768px) {
	.site-header .header-cart .amount {
		display: none;
	}
}

.site-header .header-cart .woocommerce-mini-cart__buttons a:first-child {
	font-size: 12px;
	text-align: center;
	display: block;
	padding: 10px;
	margin-bottom: 7.5px;
}

.section-page-header {
	background: #f2f2f2;
	padding: 15px 0;
	line-height: 2;
}

.section-page-header .entry-title,
.section-page-header .page-title {
	margin: 0;
	color: #000000;
	float: left;
	line-height: 2;
	padding: 0;
	text-align: left;
	width: auto;
	font-weight: 500;
	text-transform: capitalize;
	font-size: 24px;
	letter-spacing: 0.2px;
}

.section-page-header .breadcrumb-trail .trail-items {
	margin: 0;
	padding: 5px 0;
	list-style: none;
}

.section-page-header .breadcrumb-trail .trail-items .trail-item {
	font-size: 14px;
	line-height: 36px;
	font-weight: 400;
	display: inline-block;
}

.section-page-header .breadcrumb-trail .trail-items .trail-item:last-child {
	padding: 0;
}

.section-page-header .breadcrumb-trail .trail-items .trail-item a {
	padding-right: 25px;
	position: relative;
	display: inline-block;
	color: #000000;
}

.section-page-header .breadcrumb-trail .trail-items .trail-item a:after {
	content: ">";
	position: absolute;
	right: 10px;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
	color: royalblue;
}

a:visited {
	color: purple;
}

a:hover,
a:focus,
a:active {
	color: midnightblue;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
	display: block;
	float: none;
	width: 100%;
}

.main-navigation .item-toggle {
	position: absolute;
	right: -5px;
	top: 47%;
	font-size: 21px;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
}

.main-navigation ul ul .item-toggle {
	position: absolute;
	right: 7.5px;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

@media screen and (min-width: 992px) {
	.main-navigation ul {
		text-align: center;
	}
}

.main-navigation ul .menu-item-has-children {
	position: relative;
}

.main-navigation ul ul {
	padding-top: 15px;
	text-align: left;
	background: #fff;
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
	min-width: 225px;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
	min-width: 225px;
	padding-top: 0;
}

.main-navigation ul ul li {
	display: block;
	position: relative;
}

@media screen and (min-width: 769px) {
	.main-navigation ul ul li {
		border-bottom: 1px solid #e9e9e9;
	}
	.main-navigation ul li.focus>ul,
	.main-navigation ul li:hover>ul {
		left: auto;
	}
}

.main-navigation ul ul li.focus>ul,
.main-navigation ul ul li:hover>ul {
	left: 100%;
}

.main-navigation ul ul a {
	display: block;
	width: 100%;
}

.main-navigation .navigation--mobile a {
	display: block;
	text-decoration: none;
	padding: 15px;
	line-height: 1;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	text-transform: uppercase;
	width: 100%;
}

.main-navigation .navigation--mobile a:hover {
	color: #222;
}

.main-navigation .navigation--mobile .current-menu-item {
	color: #222;
}

.main-navigation .navigation--mobile .current-menu-item a {
	color: inherit;
}

.main-navigation li {
	float: none;
	position: relative;
	display: inline-block;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	width: 100%;
}


/* Small menu. */

.main-navigation.toggled .navigation--mobile {
	position: fixed;
	top: 0;
	height: 100vh;
	background: #fff;
	width: -webkit-calc(100% - 75px);
	width: -moz-calc(100% - 75px);
	width: -ms-calc(100% - 75px);
	width: -o-calc(100% - 75px);
	width: calc(100% - 75px);
	text-align: left;
	overflow-y: auto;
	padding: 60px 0 20px;
	max-width: 320px;
	left: 0;
	z-index: 1001;
}

.admin-bar .main-navigation.toggled .navigation--mobile {
	position: fixed;
	top: 45px;
	height: 100vh;
	background: #fff;
	width: -webkit-calc(100% - 75px);
	width: -moz-calc(100% - 75px);
	width: -ms-calc(100% - 75px);
	width: -o-calc(100% - 75px);
	width: calc(100% - 75px);
	text-align: left;
	overflow-y: auto;
	padding: 60px 0 20px;
	max-width: 320px;
	left: 0;
	z-index: 1001;
}

@media screen and (max-width: 768px) {
	.main-navigation .navigation--mobile {
		left: -350px;
		transition: left 0.5s ease;
	}
	.main-navigation .item-toggle {
		right: 0;
		height: 100%;
		top: 50%;
		width: 44px;
		text-align: center;
		line-height: 2;
		cursor: pointer;
	}
	.main-navigation.toggled li {
		display: block;
		text-align: left;
		clear: both;
	}
	.main-navigation .navigation--mobile a {
		border-bottom: 1px solid #e9e9e9;
	}
	.main-navigation ul.sub-menu {
		display: none;
	}
	.main-navigation ul.active {
		display: block !important;
		left: 0 !important;
		top: 100%;
		position: relative;
	}
	.main-navigation .sub-menu .item-toggle {
		right: 0px;
	}
}

.main-navigation.toggled .menu-toggle {
	position: fixed;
	top: 15px;
	left: 15px;
	padding: 5px 0;
}

.admin-bar .main-navigation.toggled .menu-toggle {
	position: fixed;
	top: 70px;
	padding: 5px 0;
	left: 15px;
}

.main-navigation.toggled .menu-toggle .icon-bar.middle {
	display: none;
}

.main-navigation.toggled .menu-toggle .icon-bar {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.main-navigation.toggled .menu-toggle .icon-bar:first-child {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	position: relative;
	top: 1px;
}

.main-navigation.toggled .menu-toggle .icon-bar:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -7px;
	position: relative;
}

.main-navigation.toggled ul {
	display: block;
	width: 100%;
	padding-top: 0;
}

.menu-toggle {
	width: 30px;
	font-size: 20px;
	background: transparent;
	border: 0;
	color: #000;
	overflow: hidden;
	display: inline-block;
	height: 24px;
	text-align: center;
	padding: 0;
	outline: none;
	z-index: 10002;
	position: relative;
}

.menu-toggle .icon-bar {
	width: 24px;
	height: 2px;
	margin-bottom: 6px;
	background: #000;
	display: block;
}

.menu-toggle .icon-bar:first-child {
	margin-top: 4px;
}

.menu-toggle .icon-bar:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 769px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.site-main .comment-navigation,
.site-main .post-navigation,
.site-main .posts-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 8.75px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}


/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
	outline: 0;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	*zoom: 1;
}

.clear:before:after,
.clear:after:after,
.entry-content:before:after,
.entry-content:after:after,
.comment-content:before:after,
.comment-content:after:after,
.site-header:before:after,
.site-header:after:after,
.site-content:before:after,
.site-content:after:after,
.site-footer:before:after,
.site-footer:after:after {
	content: '';
	display: table;
	clear: both;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 30px;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

.widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.widget ul li {
	margin-bottom: 7.5px;
}

.widget a {
	color: #000000;
}

.widget .widget-title {
	color: #000000;
	text-transform: capitalize;
	margin: 0;
	position: relative;
	font: 500 16px/24px 'Rubik', sans-serif;
	letter-spacing: 0.8px;
	border-bottom: 1px solid #e9e9e9;
	margin-bottom: 20px;
	text-transform: uppercase;
	position: relative;
}

.widget .widget-title span {
	position: relative;
	padding-bottom: 7.5px;
	display: inline-block;
}

.widget .widget-title span:after {
	content: "";
	width: 100%;
	height: 3px;
	background: #000;
	position: absolute;
	bottom: -2px;
	left: 0;
}

.widget .menu {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

.widget .menu a {
	color: #000000;
}

.widget_product_search form,
.widget_search form {
	position: relative;
}

.widget_product_search form input[type="text"],
.widget_search form input[type="text"] {
	width: 100%;
}

.widget_product_search form button[type="submit"],
.widget_search form button[type="submit"] {
	position: absolute;
	top: 0;
	right: 0;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.section-default {
	padding: 30px 0;
}

.sticky {
	display: block;
}

.entry-header .entry-title {
	margin-top: 0;
}

.page,
.post {
	margin: 0;
	position: relative;
}

.updated:not(.published) {
	display: none;
}

.entry-summary,
.page-content {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
	font-size: 18px;
	padding-top: 15px;
}

.page-links .post-page-numbers {
	display: inline-block;
	background: #000;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 100%;
	color: #fff;
	margin-right: 7.5px;
	font-size: 14px;
}

.page-links .post-page-numbers.current {
	background: #757575;
	color: #fff;
}

.page-header {
	margin: 0;
	padding: 0;
}

.page-header .page-title {
	margin: 0 0 15px;
}

.entry-footer {
	margin-top: 30px;
}

.entry-footer .edit-link {
	background: #000;
	text-transform: uppercase;
	font-size: 12px;
	width: 75px;
	display: inline-block;
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	float: right;
	padding: 10px;
	position: relative;
	margin-top: -20px;
}

.entry-footer .edit-link a {
	color: #fff;
	text-decoration: none;
}

.entry-footer .edit-link a:last-child {
	display: none;
}

.entry-footer .edit-link a:only-child {
	display: block;
}

.single article {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e9e9e9;
}

.single article .entry-title {
	padding: 15px 0;
	margin: 0;
}

.single article .entry-title a {
	color: #000000;
	text-decoration: none;
}

.single article .entry-meta .fa {
	margin-right: 7.5px;
}

.single article .entry-meta .posted-on {
	margin-right: 15px;
}

.single article .entry-meta a {
	color: #000000;
	text-decoration: none;
}

.single article .more-link {
	position: relative;
	display: block;
	max-width: 150px;
	text-align: center;
	margin-top: 15px;
	background: #000;
	color: #fff;
	font-size: 14px;
	z-index: 0;
	overflow: hidden;
	padding: 10px 15px;
	border-color: #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
}

.single article .more-link:hover {
	color: #fff;
}

.single article .entry-footer {
	margin-top: 0;
}

.single article .entry-footer .cat-links,
.single article .entry-footer .comments-link,
.single article .entry-footer .tags-links {
	display: block;
}

.single article .entry-footer .cat-links .fa,
.single article .entry-footer .comments-link .fa,
.single article .entry-footer .tags-links .fa {
	margin-right: 7.5px;
}

.single article .entry-footer .cat-links a,
.single article .entry-footer .comments-link a,
.single article .entry-footer .tags-links a {
	color: #000000;
	text-decoration: none;
}


/*--------------------------------------------------------------
## Archive Page
--------------------------------------------------------------*/

.section--archive-template article,
.section--default-template article,
.section--search-template article {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e9e9e9;
}

.section--archive-template article .entry-title,
.section--default-template article .entry-title,
.section--search-template article .entry-title {
	padding: 15px 0;
	margin: 0;
}

.section--archive-template article .entry-title a,
.section--default-template article .entry-title a,
.section--search-template article .entry-title a {
	color: #000000;
	text-decoration: none;
}

.section--archive-template article .entry-meta .fa,
.section--default-template article .entry-meta .fa,
.section--search-template article .entry-meta .fa {
	margin-right: 7.5px;
}

.section--archive-template article .entry-meta .posted-on,
.section--default-template article .entry-meta .posted-on,
.section--search-template article .entry-meta .posted-on {
	margin-right: 15px;
}

.section--archive-template article .entry-meta a,
.section--default-template article .entry-meta a,
.section--search-template article .entry-meta a {
	color: #000000;
	text-decoration: none;
}

.section--archive-template article .more-link,
.section--default-template article .more-link,
.section--search-template article .more-link {
	position: relative;
	display: block;
	max-width: 150px;
	text-align: center;
	margin-top: 15px;
	background: #000;
	color: #fff;
	font-size: 14px;
	z-index: 0;
	overflow: hidden;
	padding: 10px 15px;
	border-color: #000;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	text-decoration: none;
}

.section--archive-template article .more-link:hover,
.section--default-template article .more-link:hover,
.section--search-template article .more-link:hover {
	color: #fff;
}

.section--archive-template article .entry-footer,
.section--default-template article .entry-footer,
.section--search-template article .entry-footer {
	margin-top: 0;
}

.section--archive-template article .entry-footer .cat-links,
.section--archive-template article .entry-footer .comments-link,
.section--archive-template article .entry-footer .tags-links,
.section--default-template article .entry-footer .cat-links,
.section--default-template article .entry-footer .comments-link,
.section--default-template article .entry-footer .tags-links,
.section--search-template article .entry-footer .cat-links,
.section--search-template article .entry-footer .comments-link,
.section--search-template article .entry-footer .tags-links {
	display: block;
}

.section--archive-template article .entry-footer .cat-links .fa,
.section--archive-template article .entry-footer .comments-link .fa,
.section--archive-template article .entry-footer .tags-links .fa,
.section--default-template article .entry-footer .cat-links .fa,
.section--default-template article .entry-footer .comments-link .fa,
.section--default-template article .entry-footer .tags-links .fa,
.section--search-template article .entry-footer .cat-links .fa,
.section--search-template article .entry-footer .comments-link .fa,
.section--search-template article .entry-footer .tags-links .fa {
	margin-right: 7.5px;
}

.section--archive-template article .entry-footer .cat-links a,
.section--archive-template article .entry-footer .comments-link a,
.section--archive-template article .entry-footer .tags-links a,
.section--default-template article .entry-footer .cat-links a,
.section--default-template article .entry-footer .comments-link a,
.section--default-template article .entry-footer .tags-links a,
.section--search-template article .entry-footer .cat-links a,
.section--search-template article .entry-footer .comments-link a,
.section--search-template article .entry-footer .tags-links a {
	color: #000000;
	text-decoration: none;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comments-area .comment-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.comments-area .comment-list .children,
.comments-area .comment-list ol {
	list-style: none;
	margin-top: 30px;
}

.comments-area .comment-list .comment {
	margin-bottom: 30px;
}

.comments-area .comment-content a {
	word-wrap: break-word;
}

.comments-area .bypostauthor {
	display: block;
}

.comments-area .avatar {
	float: left;
	overflow: hidden;
	width: 95px;
	height: 95px;
	margin-right: 25px;
	border: 3px solid #fff;
	border-radius: 50%;
}

.comments-area .reply .comment-reply-link {
	background: #000;
	color: #fff;
	padding: 5px 15px;
	font-size: 12px;
	border-radius: 5px;
}


/*--------------------------------------------------------------
## 404 Error
--------------------------------------------------------------*/

.section--error-template .not-found {
	display: table;
}

.section--error-template .not-found .page-large-text {
	display: table-cell;
	vertical-align: middle;
}

.section--error-template .not-found .page-large-text .page-heading-large {
	font-size: 150px;
}

@media screen and (max-width: 572px) {
	.section--error-template .not-found .page-large-text .page-heading-large {
		font-size: 100px;
	}
}

.section--error-template .not-found .page-content {
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}

.section--error-template .not-found .page-content .page-title {
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.section--error-template .not-found .page-content .content {
	margin-top: 7.5px;
}

.section--error-template .search-form {
	position: relative;
}

.section--error-template .search-form .search-submit {
	position: absolute;
	top: 0;
	right: 0;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
	display: block;
}


/*--------------------------------------------------------------
# Home Sections
--------------------------------------------------------------*/


/*------------------------------------------------
#Section Hero
------------------------------------------------*/

.section-hero {
	position: relative;
	overflow: hidden;
}

.section-hero figure {
	margin: 0;
}

.section-hero figure img{
	width: 100%;
    margin: 0;
    padding: 0;
}

.section-hero figure figcaption {
	max-width: 1140px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
}

.section-hero figure figcaption .title {
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	font-size: 54px;
}

@media screen and (max-width: 768px) {
	.section-hero figure figcaption .title {
		font-size: 200%;
		margin: 0;
	}
}

.section-hero figure figcaption .rte-settings {
	font-size: 40px;
	color: #fff;
}

@media screen and (max-width: 768px) {
	.section-hero figure figcaption .rte-settings {
		font-size: 150%;
	}
}

.section-hero figure figcaption .btn {
	display: block;
	width: 150px;
	padding: 10px 30px;
	margin-top: 30px;
	color: #000 !important;
	background: #fff;
}

@media screen and (max-width: 768px) {
	.section-hero figure figcaption .btn {
		margin: 0;
		width: 125px;
		padding: 7.5px 15px;
		margin-top: 10px;
	}
}


/*------------------------------------------------
#Section Featured
------------------------------------------------*/

.section-featured {
	position: relative;
	margin-top: 30px;
	padding: 0;
}

.section-featured figure {
	margin: 0;
	position: relative;
}

.section-featured figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.section-featured figure:after {
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.25);
	position: absolute;
	z-index: -0;
	pointer-events: none;
}

.section-featured figcaption {
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	left: 30px;
	color: #fff;
	z-index: 1;
}

.section-featured .block-featured-main {
	height: 580px;
}

@media screen and (max-width: 767px) {
	.section-featured .block-featured-main {
		margin-bottom: 30px;
		height: auto;
	}
}

.section-featured .block-featured-main .btn {
	display: block;
	width: 150px;
	padding: 10px 30px;
	margin-top: 30px;
	color: #000 !important;
	background: #fff;
	border-color: transparent;
}

.section-featured .block-featured-item {
	height: 275px;
	min-height: 100px;
}

.section-featured .block-featured-item:first-child {
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	.section-featured .block-featured-item {
		width: calc(50% - 15);
		width: -webkit-calc(50% - 15px);
		width: -moz-calc(50% - 15px);
		width: -ms-calc(50% - 15px);
		width: -o-calc(50% - 15px);
		display: inline-block;
		float: left;
		margin-bottom: 0;
		height: auto;
	}
	.section-featured .block-featured-item:first-child {
		float: left;
		margin-bottom: 0;
	}
	.section-featured .block-featured-item:last-child {
		float: right;
	}
}

@media screen and (max-width: 572px) {
	.section-featured .block-featured-item {
		width: 100%;
		padding: 0 !important;
	}
	.section-featured .block-featured-item:first-child {
		float: left;
		margin-bottom: 30px;
	}
}

.section-featured .block--featured-item-link {
	display: block;
	width: 100%;
	height: 100%;
}


/*------------------------------------------------
#Section Collection
------------------------------------------------*/

.section-collection {
	background: #fff;
	margin: 0;
	padding: 30px 0 0;
}

.section-collection .collection-image {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.section-collection .collection-image {
		margin-bottom: 30px;
	}
}

.section-collection .collection-image figcaption {
	position: absolute;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: all 450ms ease-out;
	-o-transition: all 450ms ease-out;
	transition: all 450ms ease-out;
}

.section-collection .collection-image figcaption .btn {
	color: #000;
	font-size: 12px;
	display: inline-block;
	cursor: pointer;
	padding: 10px 50px;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #fff;
	border-radius: 0;
}

.section-collection .collection-image .collection-src {
	width: 100%;
	-webkit-transition: opacity 0.35s, -webkit-transform 1s;
	transition: opacity 0.35s, -webkit-transform 1s;
	-o-transition: opacity 0.35s, transform 1s;
	transition: opacity 0.35s, transform 1s;
	transition: opacity 0.35s, transform 1s, -webkit-transform 1s;
}

.section-collection .collection-image:hover figcaption {
	bottom: 65px;
}

.section-collection .collection-image:hover .collection-src {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}


/*------------------------------------------------
#Section Products
------------------------------------------------*/

.section-products {
	padding: 30px 0 0;
}

.section-products .section-heading .section-title {
	margin: 0;
	padding-bottom: 30px;
	text-transform: uppercase;
}

.section-products .products {
	overflow: hidden;
}

.section-products .products .owl-stage {
	min-width: 5000px;
	overflow: hidden;
}

.section-products .products .owl-stage .owl-item {
	display: inline-block;
}

.section-products .products .owl-stage .owl-item .product {
	width: 100%;
	margin: 0;
}

.section-products .products .star-rating {
	position: absolute;
}

.section-products .woocommerce {
	position: relative;
}

.section-products .woocommerce .owl-nav {
	position: absolute;
	top: -60px;
	right: 0;
}

.section-products .woocommerce .owl-nav button {
	background: transparent;
	border: transparent;
	padding: 7.5px;
	outline: none;
}

.section-products .woocommerce .owl-nav button .next,
.section-products .woocommerce .owl-nav button .previous {
	fill: #000;
}

.section-products .woocommerce .owl-nav .disabled .next,
.section-products .woocommerce .owl-nav .disabled .previous {
	fill: #ababab;
}


/*------------------------------------------------
#Section Collection Grid
------------------------------------------------*/

.section--collection-grid {
	background: #3E71FF;
	padding: 45px 0 30px;
	margin-top: 30px;
}

.section--collection-grid .section-heading {
	margin-bottom: 45px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.section--collection-grid .section-heading .heading {
	margin: 0;
}

.section--collection-grid .collection-image {
	margin: 0 0 30px;
}

.section--collection-grid .collection-image img {
	width: 100%;
}

.section--collection-grid .collection-image .caption .title {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 12px;
	color: #000;
	line-height: 20px;
	overflow: hidden;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 15px 5px;
	white-space: normal;
	margin: 0;
	background: #fff;
}


/*------------------------------------------------
#Section Proposition
------------------------------------------------*/

.section-proposition {
	background: #1b1b1b;
	padding: 20px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 480px) {
	.section-proposition .proposition-block {
		width: 100%;
	}
}

.section-proposition .proposition-item {
	position: relative;
}

@media screen and (max-width: 992px) {
	.section-proposition .proposition-item {
		margin-bottom: 30px;
	}
}

.section-proposition .proposition-item .proposition--item-thumb {
	position: absolute;
	left: 0;
	right: 0;
}

.section-proposition .proposition-item .proposition--item-thumb .proposition--item-icon {
	width: 40px;
}

@media screen and (max-width: 768px) {
	.section-proposition .proposition-item .proposition--item-thumb .proposition--item-icon {
		width: 30px;
		position: relative;
		top: -2px;
	}
}

.section-proposition .proposition-item .proposition--item-caption {
	position: relative;
	padding-left: 50px;
	color: #fff;
}

.section-proposition .proposition-item .proposition--item-caption .proposition--item-title {
	margin: 0 0 2px;
	text-transform: uppercase;
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.section-proposition .proposition-item .proposition--item-caption .proposition--item-title {
		font-size: 75%;
	}
}

.section-proposition .proposition-item .proposition--item-caption .proposition--item-desc {
	font-size: 13px;
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	.section-proposition .proposition-item .proposition--item-caption .proposition--item-desc {
		font-size: 75%;
	}
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.section-footer {
	padding: 30px 0 45px;
}

.section-footer .title {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	margin: 0 0 20px;
}

.section-footer .widget {
	color: #bfbfbf;
	font-size: 14px;
}

.section-footer .widget a {
	color: inherit;
	text-decoration: none;
}

.section-footer .widget_custom_html ul li {
	margin-bottom: 7.5px;
}

.section-footer .widget_custom_html ul li i {
	color: #fff;
	font-size: 14px;
	margin-right: 7.5px;
}

.section-footer .social-icons {
	margin: 0 0 30px;
	padding: 0;
}

.section-footer .social-icons li {
	display: inline-block;
	margin: 7.5px 7.5px 7.5px 0;
}

.section-footer .social-icons li a {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 100%;
	color: #000;
	display: block;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
}

.section-footer .footer--block-contact .image {
	width: 100%;
	max-width: 150px !important;
}

.site-footer {
	background: #000;
	color: #bfbfbf;
}

.site-footer .section-copyright {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 15px 0;
	font-size: 14px;
}

.site-footer .section-copyright a {
	color: #bfbfbf;
	display: inline-block;
	text-decoration: none;
}

.site-footer .section-copyright a:hover {
	color: #bcbcbc;
}

.site-footer .section-copyright small {
	display: block;
	font-size: 13px;
}


/*--------------------------------------------------------------
## Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}


/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
	max-width: 100%;
}


/* Make sure logo link wraps around logo image. */

.custom-logo-link {
	display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
